.tagline{
    text-align: center;
    font-size: 28px;
}
.sayan{
    text-align: center;

}
#screen{
    width: 342px;
    height: 50px;
    border-radius: 0.5rem;
}
.btn{
    width: 80px;
    height: 30px;
    border-radius: 0.5rem;
}
.first{
    font-size: 10px;
}
h1{
    font-size: 28px;
}